doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href="assets/css/main.css")
    link(rel='stylesheet', href="assets/css/font-awesome.min.css")
  body
    // Fixed navbar
    header
      .navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container-fluid
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='http://laboratoria.la/') FUTURE IMPERFECT
          .navbar-collapse.collapse
            ul.nav.navbar-nav
              li
                a(href='#') HOME
              li.hidden-xs
                a(href='') |
              li
                a(href='#about') ABOUT US
              li.hidden-xs
                a(href='') |
              li
                a(href='#services') SERVICES
              li.hidden-xs
                a(href='') |
              li
                a(href='#galleries') GALLERIES
              li.hidden-xs
                a(href='') |
              li
                a(href='#contact') CONTACT
            ul.nav.navbar-nav.navbar-right
              li.active
                a.fa.fa-search(href="#")
                
    .container
      section.text-center(id="home") 
        .hexagono.um
          .imagem1
            .imagem2
        h2 FUTURE IMPERFECT
        span ANOTHER FINE RESPONSIVE SITE TEMPLATE BY HTML5 UP
      section(id="services")
        article
          .title.row
            .col-md-9
              h2 MAGNA SED ADIPISCING
              span LOREM IPSUM DOLOR AMET NULLAM CONSEQUAT ETIAM FEUGIAT
            .col-md-3
          .cont-article
            img(src="images/pic01.jpg")
            p Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
            .row
              .col-md-3
                a.btn-big CONTINUE READING
              .col-md-9.text-right
                a GENERAL
                a |       28
                  i.fa.fa-heart 
                a |       128  
                  i.fa.fa-comment

        article
          .title.row
            .col-md-9
              h2 MAGNA SED ADIPISCING
              span LOREM IPSUM DOLOR AMET NULLAM CONSEQUAT ETIAM FEUGIAT
            .col-md-3
          .cont-article
            img(src="images/pic01.jpg")
            p Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
            .row
              .col-md-3
                a CONTINUE READING
              .col-md-9.text-right
                a GENERAL
                a |       28
                  i.fa.fa-heart 
                a |       128  
                  i.fa.fa-comment
        
        article
          .title.row
            .col-md-9
              h2 MAGNA SED ADIPISCING
              span LOREM IPSUM DOLOR AMET NULLAM CONSEQUAT ETIAM FEUGIAT
            .col-md-3
          .cont-article
            img(src="images/pic01.jpg")
            p Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
            .row
              .col-md-3
                a CONTINUE READING
              .col-md-9.text-right
                a GENERAL
                a |       28
                  i.fa.fa-heart 
                a |       128  
                  i.fa.fa-comment
        

      section(id="galleries")
      section(id="contact")
      section(id="about")
      footer


      
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src="assets/js/bootstrap.min.js")