#home {
	margin-top: 50px;
	padding:25px 50px;
}
.hexagono {
    overflow: hidden;
    visibility: hidden;
    @include transform(rotate(120deg));
    cursor: pointer;
     margin: 0 auto;
}
.imagem1{
    overflow: hidden;
    width: 100%;
    height: 100%;
    @include transform(rotate(-60deg));
}
.imagem2{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(../../images/logo.jpg);
    visibility: visible;
    @include transform(rotate(-60deg));
}

.um { 
    width: 70px;
    height: 130px;
    margin: 0 auto;
}
article {
	background : white;
	margin-top: 50px;
	img {
		width: 100%;
	}
	.title, .description, .cont-article {
	padding: 25px 50px;
	}
	.title {
		margin: 0; 
	}
	.title, .cont-article {
		border:1px $graylight2 solid;
		.btn-big {
			background-color: transparent;
		    color: #3c3b3b !important;
		    display: inline-block;
		    font-family: $raleway;
		    font-size: 0.6em;
		    font-weight: 800;
		    height: 4.8125em;
		    letter-spacing: 0.25em;
		    line-height: 4.8125em;
		    padding: 0 2.5em;
		    text-align: center;
		    text-decoration: none;
		    text-transform: uppercase;
		    white-space: nowrap;
		}
	}
}
